{
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": "../../**"
      }
    ]
  ],
  "preset": "angular",
  "dryRun": false,
  "ci": false
}
